h3 READ

table.table.table-striped
  thead
    tr
      th  
      th 
      th 
  tbody
    tr
      td Title: {{details.title}} - Author: {{details.author}}
      
      td {{details.createdAt | date:'MM/dd/yyyy @ h:mma'}} 
    tr
      td {{details.content}}
      
        
          
    
      
  
        
